body {
  background-image: url(../img/copiaup.jpg);
  background-repeat: no-repeat;
 }
 
 
 
 
 
 
 
 
 .Max {
  width: 200px;
  position: absolute;
  margin-left: 5%;
  margin-top: -240px;
  padding: 50px;
 }
 
 
 
 
 
 
 .bv {
  background-color: black;
  padding: 90px;
  background: transparent;
  backdrop-filter: blur(20px);
 }
 
 
 
 
 h1 {
  margin-left: 25%;
  margin-top: -8%;
  color: black;
  position: absolute;
 }
 
 
 .login {
  width: 400px;
  height: 300px;
  border: 1px solid black;
  text-align: center;
  margin-top: 140px;
  margin-left: 38%;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: 0 10px 15px 0 black;
  color: white;
 }
 
 
 .e-mail {
  margin-left: -260px;
  margin-bottom: -20px;
 }
 
 
 .senha {
  margin-left: -260px;
  margin-bottom: -20px;
 }
 
 
 .entrar {
  background-color: black;
  border: 2px solid;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
 }
 
 
 .entrar:hover {
  background-color: black;
  border: 2px solid;
  color: rgb(0, 110, 255);
  padding: 10px 20px;
  text-decoration: none;
 }
 
 
 .cadastre-se {
  color: blue;
  padding: 10px;
  margin-left: 12px;
  text-decoration: underline;
  margin-top: -4%;
  position: absolute;
 }
 
 
 .button {
  background-color: rgb(15, 15, 97);
  border: 2px solid;
  border-color: white;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 17px;
  margin-left: 30px;
 
 
 }
 .botao{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -4.5%;
  position: relative;
 }
 
 
 .button:hover {
  background-color: white;
  color: black;
  border: 2px solid white;
 }
 
 
 .cadastrar {
  margin-left: -80px;
  margin-top: 8%;
  margin-bottom: -20px;
  color: black;
  padding: 10px;
 }
 
 
 .psmail {
  border-radius: 15px;
  margin-top: 2px;
  border: 1px solid;
  background: transparent;
  color: white;
 }
 
 
 .senha1 {
  border-radius: 15px;
  margin-top: 2px;
  border: 1px solid;
  background: transparent;
  color: white;
 }
 
 
 .V {
  position: absolute;
  margin-top: -265px;
  margin-left: 10%;
 }
 
 
 /* Configuração reponsivo para celular */
 @media only screen and (max-width: 600px) {
  .login {
    margin-left: 10%;
    margin-top: 20%;
    width: 80%;
    height: 320px;
  }
 
 
  .senha {
    padding: 20px;
    margin-left: -42%;
  }
 
 
  .e-mail {
    margin-top: -8%;
    margin-left: 15%;
    position: absolute;
    padding: 20px;
  }
 
 
 
 
 
 
 
 
  .psmail {
    margin-top: 12%;
    position: absolute;
    margin-left: -30%;
  }
 
 
 
 
 
 
 
 
  h3 {
    margin-top: 10%;
  }
 
 
  .V {
    margin-top: -95%;
    margin-left: 13%;
    position: absolute;
  }
 
 
 
 
 
 
 
 
  .entrar {
    padding: 5px 10px;
    margin-top: -10%;
    position: absolute;
    margin-left: -10%;
  }
 
 
 
 
 
 
 
 
  .cadastre-se {
    padding: 5px 10px;
    margin-left: 7%;
    position: absolute;
    margin-top: -2%;
  }
 
 
 
 
 
 
 
 
  .cadastrar {
    font-size: 13px;
    margin-left: -40%;
  }
 
 
  h1 {
    font-size: 20px;
    position: relative;
    margin-top: -25px;
    margin-left: 2%;
 
 
 
 
 
 
 
 
 
 
  }
 
 
  .Max {
    width: 200px;
    height: 200px;
    position: absolute;
    margin-top: -70%;
    margin-left: 35px;
 
 
 
 
  }
 
 
 
 
 
 
 }
 
 
 /* Fim da configuração reponsivo para celular  */
 
 
